
storage
zen
node_modules
dist
index.js
.env
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.zip
*.log
*.bak
*.swp
*.tmp
*.pid
coverage
*.tgz
*.lock
*.sublime-workspace
*.sublime-project
.idea                                                                                           